/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  background-color: #ffffff;
}

/* Carousel styling */

.carousel-inner {
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    max-width: 1500px;
}

.carousel-img {
    max-width: 1400px;
    margin: 0px;
}

.carousel-caption {
    background: rgba(0,0,0,0.5);
    position: absolute;
    /* color: white; */
    max-width: 40%;
    margin-left: 20px;
    bottom: 50px;
    left: 16px;
    text-align: left;

    /* filter: alpha(opacity=50); /* For IE8 and earlier */
}



.carousel-caption h1{
    opacity: 1;
}

/* Training, resources, blog, about, jumbotron styling */
.container {
    max-width: 1400px;
    margin: 0px;
}

.container-caption {
    background: rgba(0,0,0,0.5);
    position: absolute;
    color: white;
    max-width: 40%;
    margin-left: 20px;
    bottom: 50px;
    left: 16px;
    text-align: left;
}

/* Mission statement styling */
.mission-statement {
    margin: 10px;
    padding: 20px;

}

/* Stories of who we are styling */
.stories-protrait {
    border-radius: 75%;
    width: 275px;
    height: 275px;
    margin: auto;
}

.list-inline-item {
    margin: 0 60px;
}

/* Strategic Partners */
.card-deck {


}
